*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    
    /* --primary-color: #212121;
    --secondary-color: #edf2fc; */
    
}

.dark-theme{
    /* --primary-color:#212121;
    --secondary-color:#fff; */

        --primary-color:#000106;
        --secondary-color:#fff;


}





#icon{
    width: 30px;
    cursor: pointer;
}









.hero{
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

nav{

    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav ul{
    /* display: flex; */
    flex: 1;
    text-align: right;
}

 nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 12px;
 }

 nav ul li a{
     text-decoration: none;
     color:#009688;
 }
 nav ul li a:hover{
     color: #ff4321;
 }

 .info{
     margin-left: 8%;
     width: 50%;
     margin-top: 15%;
 }

 .info h1{
     font-size: 70px;
     color: var(--secondary-color);
     margin-bottom: 12px;
 }
 span{
     color: red;
 }
 .info p{
     color: royalblue;
     line-height: 22px;
 }

 .info a{
     background: var(--secondary-color);
     padding: 10px 18px;
     display: inline-block;
     color: var(--primary-color);
     border: 1px solid black;
     border-radius: 5px;
     text-decoration: none;
     margin:30px 0;
 }

 .img-box{
     width: 45%;
     height: 80%;
     position: absolute;
     bottom: 0;
     cursor: pointer;
     right: 100px;
 }

 .img-box img{
     height: 100%;
     position: absolute;
     left: 50%;
     transform: translateX(-27%);
     bottom: 10px;
    transition: bottom 1s,left 1s;
 }

 .img-box:hover .frst-img{
     bottom: 40px;

 }

 .img-box:hover .main-img{
      left:54%;
 }
 .social-links{
     margin-left: 8%;
     margin-top: 50px;
     margin-bottom: 12px;
 }
 .social-links a{
     font-size: 30px;
     color: #686163;
     margin-right: 20px;
     
 }